@import "mocha.css";

* {
  
  font-family: 'Noto Sans Regular';
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#custom-media,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#custom-gpu0,
#custom-gpu1,
#custom-lock,
#custom-weather,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  
  
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}
#custom-weather{
  color: @yellow;
  border-radius: 1rem 1rem 1rem 1rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}
#cpu {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}
#memory{
  color: @yellow;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;

}
#custom-gpu0{
  color: @yellow;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}
#custom-gpu1{
  color: @yellow;
  border-radius: 0px 1rem 1rem 0px;
  
}
#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  background-color: #1DB954;
  color: black;
}
#custom-media {
  padding: 0 10px;
  margin: 0 4px;
  background-color: #1DB954;
  color: black;
}
#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
	
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}