@import "mocha.css";

* {
    font-family: "Noto Sans Regular";
    font-size: 17px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @lavender;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @lavender;
    border-radius: 1rem;
}

#custom-music,
#custom-music-previous,
#custom-music-next,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#custom-gpu0,
#custom-gpu1,
#custom-lock,
#custom-weather,
#network,
#language,
#custom-reload,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @lavender;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#battery {
    color: @lavender;
}

#battery.charging {
    color: @lavender;
}

#battery.warning:not(.charging) {
    color: @lavender;
}

#backlight {
    color: @lavender;
}

#backlight,
#battery {
    border-radius: 0;
}
#custom-weather {
    color: @lavender;
    border-radius: 1rem 1rem 1rem 1rem;
}
#custom-reload {
    color: @lavender;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-left: 1rem;
}
#language {
    color: @lavender;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-left: 1rem;
}
#pulseaudio {
    color: @lavender;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

#custom-music {
    color: @lavender;
    border-radius: 0px 1rem 1rem 0px;
    padding-left: 0.1rem;
}
#custom-music-previous {
    color: @lavender;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}
#custom-music-next {
    color: @lavender;
    border-radius: 0rem 0px 0px 0rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem;
}
#cpu {
    color: @lavender;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}
#memory {
    color: @lavender;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
    padding-left: 0.5rem;
}
#custom-gpu0 {
    color: @lavender;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}
#custom-gpu1 {
    color: @lavender;
    border-radius: 0px 1rem 1rem 0px;
    padding-left: 0.5rem;
}
#network {
    color: @lavender;
    border-radius: 1rem 1rem 1rem 1rem;
}
#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @lavender;
    padding-left: 0.5rem;
}

#tray {
    margin-left: 1rem;
    border-radius: 1rem;
}
